{{> header}}

<div class="container">
    <div class="row">
        <div style="margin-top: 50px;" class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}}4 white-text">
            <h1>Admin Panel</h1>
            <div class="row white-text">
                <div class="admin-infopanel admin-lightblue left">
                    <div class="text-center">
                        Nutzer
                    </div>
                    <div class="text-right">
                        <h2 class="admin-number">{{ users }}</h2>
                    </div>
                </div>
                <div class="admin-infopanel admin-purple left">
                    <div class="text-center">
                        Beiträge
                    </div>
                    <div class="text-right">
                        <h2 class="admin-number">{{ posts }}</h2>
                    </div>
                </div>
                <div class="admin-infopanel admin-green left">
                    <div class="text-center">
                        Werbetreibende
                    </div>
                    <div class="text-right">
                        <h2 class="admin-number"><strong>(Keine Angabe)</strong></h2>
                    </div>
                </div>
                <div class="admin-infopanel admin-blue left">
                    <div class="text-center">
                        Einnahmen
                    </div>
                    <div class="text-right">
                        <h2 class="admin-number"><strong>(Keine Angabe)</strong> €</h2>
                    </div>
                </div>
            </div>

            <div class="row white black-text center" style="margin-top: 70px; border-radius: 50px; padding: 50px;">
                    <div class="row {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text center" style="border-radius: 50px; padding: 20px;">
                        <div class="text-center" style="margin-top: 20px;">
                            <h3 style="text-decoration: underline;">Changelog Aktionen</h3>

                            <form style="margin-top: 23px; margin-left: 40px;" class="form-inline" method="POST" action="/changelog/add">
                                <div class="form-group mx-sm-3 mb-2">
                                    <label for="inputPassword2" class="sr-only">Changelog hinzugügen</label>
                                    <input name="changelog" type="text" class="form-control white-text" id="inputPassword2" placeholder="Changelog">
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Hinzufügen</button>
                            </form>

                        </div>
                    </div>
                    <div class="row {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text center" style=" border-radius: 50px; padding: 20px;">
                        <div class="text-center" style="margin-top: 20px;">
                            <h3 style="text-decoration: underline;">Todo Aktionen</h3>

                            <form style="margin-top: 23px; margin-left: 40px;" class="form-inline" method="POST" action="/todo/add">
                                <div class="form-group mx-sm-3 mb-2">
                                    <label for="inputPassword2" class="sr-only">Todo item hinzufügen</label>
                                    <input name="content" type="text" class="form-control white-text" id="inputPassword2" placeholder="Todo">
                                </div>
                                <div class="form-group mx-sm-3 mb-2" style="margin-top: 20px;">
                                    <label for="inputPassword2" class="sr-only">Todo item hinzufügen</label>
                                    <input name="who" type="text" class="form-control white-text" id="inputPassword2" placeholder="Wer?">
                                </div>
                                <div class="form-group mx-sm-3 mb-2" style="margin-top: 20px;">
                                    <label for="inputPassword2" class="sr-only">Todo item hinzufügen</label>
                                    <input name="when" type="text" class="form-control white-text" id="inputPassword2" placeholder="Bis wann?">
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Hinzufügen</button>
                            </form>

                        </div>
                    </div>
                    <div class="row {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text center" style="border-radius: 50px; padding: 20px;">
                        <div class="text-center" style="margin-top: 20px;">
                            <h3 style="text-decoration: underline;">Nutzer Aktionen</h3>

                            <form style="margin-top: 23px; margin-left: 40px;" class="form-inline">
                                <div class="form-group mx-sm-3 mb-2">
                                    <label for="inputPassword2" class="sr-only">Nutzer suchen</label>
                                    <input type="password" class="form-control white-text" id="inputPassword2" placeholder="Nutzer suchen">
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Suchen</button>
                            </form>

                        </div>
                    </div>
                    <div class="row {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text center" style="border-radius: 50px; padding: 20px;">
                        <div class="text-center" style="margin-top: 20px;">
                            <h3 style="text-decoration: underline;">Beitrag Aktionen</h3>

                            <form style="margin-top: 23px; margin-left: 40px;" class="form-inline">
                                <div class="form-group mx-sm-3 mb-2">
                                    <label for="inputPassword2" class="sr-only">Beitrag suchen</label>
                                    <input type="password" class="form-control white-text" id="inputPassword2" placeholder="Beitrag suchen">
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Suchen</button>
                            </form>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>