<footer style="margin-top: 60px;" class="page-footer {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}}">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">WoidBook</h5>
                <p class="grey-text text-lighten-4">Immer am neusten Stand der Dinge!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/info/impressum">Impressum</a></li>
                  <li><a class="grey-text text-lighten-3" href="/info/datenschutz">Datenschutzerklärung</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Woidbook.com
        </div>
    </div>
</footer>