<!-- Dropdown Structure -->
<ul id="notify" class="dropdown-content">
    {{#each user.notifications}}
        <li><a href="#">{{this.message}}</a></li>
    {{/each}}
</ul>
<nav class="{{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}}">
    <div class="nav-wrapper">
        <a style="margin-left: 30px;" href="/" class="brand-logo"><img style="margin-top: 0.5vh;" class="left hide-on-med-and-down" width="14%;" src="/woidbook.png"><p class="left" style="margin-top: -0vh; margin-left: 0.6vw; font-family: 'Pacifico', cursive;">WoidBook</p></a>
         <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
        {{#if isNotLoggedIn}}  
        <!--
            <ul class="right hide-on-med-and-down">
                <li><a class="modal-trigger" href="#anmelden">Anmelden</a></li>
                <li><a class="modal-trigger" href="#registrieren">Registrieren</a></li>
            </ul>
            -->
        {{/if}}
        {{#if isLoggedIn}}
            <ul class="right hide-on-med-and-down" style="margin-right: 20px;">
                 <li>
                    <div class="center row">
                          <div class="col s12">
                           <form action="/search" method="GET">
                                <div class="row" id="topbarsearch">
                                    <div class="input-field col s6 s12 white-text">
                                        <i class="white-text material-icons prefix">search</i>
                                        <input name="search" type="text" id="autocomplete-input" class="white-text validate">
                                        <label for="autocomplete-input">Suchen...</label>
                                        </div>
                                    </div>
                                </div>
                           </form>
                    </div>  
                </li>
                <li><a id="notifytrigger" data-userid="{{user._id}}" class="modal-trigger" href="#notifymodal"><i class="material-icons left">notifications</i><span id="notifylength" style="margin-top: 30%; margin-left: -10px;" data-badge-caption="" class="new badge red left">{{notificationlength}}</span></a></li>
                <li>
                    <div class="row">
                        <a href="/user/profile/{{user.username}}" class="white-text left"><img style="margin-right: 12px; margin-top: 13px;" src="https://image.woidbook.com/uploads/pb-images/{{user._id}}.png" width="40" class="circle responsive-img left">{{user.name}}</a>
                    </div> 
                </li>
                <li><a class="btn white black-text" href="/user/logout">Abmelden</a></li>
            </ul>
                <ul class="sidenav grey darken-4" id="mobile-demo">
                    <li>
                        <div class="center">
                            <form action="/search" method="GET">
                                    <div class="row" id="topbarsearch">
                                        <div style="margin-top: 20px; margin-left: 10px;" class="input-field col s6 s11 white-text">
                                            <i class="white-text material-icons prefix">search</i>
                                            <input name="search" type="text" id="navbar-search" class="white-text validate">
                                            <label for="navbar-search">Suchen...</label>
                                        </div>
                                    </div>
                            </form>
                        </div>  
                    </li>
                    <li><a href="#friendssection" class="white-text"><i class="material-icons white-text">favorite</i><span>Follower anzeigen</span></a></li>
                    <li><a id="notifytrigger" data-userid="{{user._id}}" class="modal-trigger" href="#notifymodal"><i class="material-icons white-text">notifications</i><span id="notifylength" style="margin-left: -20px;" data-badge-caption="" class="new badge red">{{notificationlength}}</span></a></li>
                    {{#if isOwnPage}}
                        <li><a href="/user/settings" class="white-text"><i class="material-icons prefix white-text">settings</i>Einstellungen</a></li>
                    {{/if}}
                    <li><a href="https://woidbook.com/user/profile/{{user.username}}" class="white-text"><img style="margin-right: 12px; margin-top: 8px;" src="https://image.woidbook.com/uploads/pb-images/{{user._id}}.png" width="40" class="circle responsive-img left">{{user.name}}</a></li>
                    <li><a class="btn white black-text" href="/user/logout">Abmelden</a></li>
                </ul>
        {{/if}}
    </div>
</nav>

            <div id="notifymodal" class="modal">
                <div class="modal-content">
                    <h4 style="margin-bottom: 20px;">Benachrichtigungen</h4>
                    {{#each user.notifications}}
                        <div class="row">
                            <p style="font-size: 23px; color: #4286f4;">{{this.message}}</p>
                        </div>
                    {{/each}}
                </div>
            </div>

            <div id="anmelden" class="modal">
                <div class="modal-content">
                    <h4>Anmelden</h4>
                    <div class="row">
                            <form class="col s12" action="/user/login?redirect={{redirect}}" method="POST">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="emaila" type="email" class="validate" name="email">
                                        <label for="emaila">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="passworda" type="password" class="validate" name="password">
                                        <label for="passworda">Passwort</label>
                                    </div>
                                </div>
                                <div class="row center">
                                    <button disabled id="buttona" class="modal-action modal-close waves-effect waves-light btn-large light-blue darken-4">Anmelden</button>
                                </div>
                            </form>
                        </div>
                </div>
            </div>

            <div id="registrieren" class="modal">
                <div class="modal-content">
                    <h3>Registrieren</h3>
                        <div class="row">
                            <form class="col s12" method="POST" action="/user/register">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input name="username" id="name" type="text" autocomplete="username" class="validate" data-length="16" required>
                                        <span class="helper-text">Min. 6 Buchstaben und keine Leerzeichen</span>
                                        <label for="name">Benutzername</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input name="email" id="email" autocomplete="email" type="email" class="validate" required>
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input name="password" id="password" autocomplete="new-password" type="password" class="validate" required>
                                        <span class="helper-text">Min. 5 Buchstaben</span>
                                        <label for="password">Passwort</label>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="input-field col s12">
                                            <input id="passwordb" type="password" class="validate" required>
                                            <label for="passwordb">Passwort bestätigen</label>
                                        </div>
                                    </div>
                                <div class="row">
                                    <div class="input_field col s12">
                                        <p>
                                            <label>
                                                <input id="check" type="checkbox" required />
                                                <span>Du akzeptierst unsere Datenschutzerklärung</span>
                                            </label>
                                        </p>
                                    </div>
                                </div>
                                <div class="row center">
                                    <button disabled id="req" type="submit" class="modal-action modal-close waves-effect waves-light btn-large light-blue darken-4">Registrieren</button>
                                </div>
                            </form>
                        </div>         
                </div>
            </div>

<script>

    var reg = document.getElementById('req');
    var email = document.getElementById('email');
    var username = document.getElementById('name');
    var password = document.getElementById('password');
    var passwordb = document.getElementById('passwordb');
    var check = document.getElementById('check');
    var notifications = document.getElementById('notifytrigger');
    var notifylength = document.getElementById('notifylength');


    check.oninput = (e) => {
        if(password.value == passwordb.value && passwordb.value.length > 4 && username.value.length > 5 && email && check.checked) {
            reg.disabled = false;
        } else {
            reg.disabled = true;
        }
    }

    email.oninput = (e) => {
        if(password.value == passwordb.value && passwordb.value.length > 4 && username.value.length > 5 && email && check.checked) {
            reg.disabled = false;
        } else {
            reg.disabled = true;
        }
    };

    username.oninput = (e) => {
        username.value = username.value.replace(" ", "");
            if(password.value == passwordb.value && passwordb.value.length > 4 && username.value.length > 5 && email && check.checked) {
                reg.disabled = false;
            } else {
                reg.disabled = true;
            }
    };

    password.oninput = (e) => {
        if(password.value == passwordb.value && passwordb.value.length > 4 && username.value.length > 5 && email && check.checked) {
            reg.disabled = false;
        } else {
            reg.disabled = true;
        }
    };

    passwordb.oninput = (e) => {
        if(password.value == passwordb.value && passwordb.value.length > 4 &&  username.value.length > 5 && email && check.checked) {
            reg.disabled = false;
        } else {
            reg.disabled = true;
        }
    };

    // Login
    var emaila = document.getElementById('emaila');
    var passworda = document.getElementById('passworda');
    var buttona = document.getElementById('buttona');

    emaila.oninput = (e) => {
        if(emaila.value && passworda.value) {
            buttona.disabled = false;
        } else {
            buttona.disabled = true;
        }
    }

    passworda.oninput = (e) => {
        if(emaila.value && passworda.value) {
            buttona.disabled = false;
        } else {
            buttona.disabled = true;
        }
    }

    // Notifications
    if(notifylength.textContent > 0) {
        notifications.onclick = (e) => {
            socket.emit('notifications', { userid: notifications.getAttribute('data-userid') });
            notifylength.innerHTML = "0";
        }
    }
</script>