<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="author" content="Nicolas Hasenkopf, Woidbook">
    <meta name="description" content="Im Woidbook gibt es immer das Neuste aus dem Bayerischen Wald und Umgebung">
    <meta name="keywords" content="Woidbook, neu, information, Bayerischer Wald, Wald, Bayern">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138350621-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138350621-1');
    </script>

    <!-- ICON -->
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="icon" href="/favicon.ico"/>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>
      {{{body}}}
    
      {{#if footer}}

      {{else}}
        {{>footer}}
      {{/if}}

    <!-- JS SCRIPTS -->
    <script>
      // HTTPS 
      var development = true;
      var splittedurl = window.location.origin.split('/')
      if(!development) {
        if(splittedurl[0] == "http:") {
          var newUrl = window.location.href.replace('http:', 'https:');
          window.location.replace(newUrl);
        }
      }

      // Socket connection
      var socket;
      window.onload = function() {
        socket = io();

        socket.on('reload', (data) => {
            if(data.reason) {
                window.location.reload();
            }
        });
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://raw.githubusercontent.com/jseidelin/exif-js/master/exif.js"></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(){
        $('.preloader-background').delay(1900).fadeOut(500);
        
        $('.preloader-wrapper')
          .delay(1900)
          .fadeOut();
      });

      $(document).ready(function(){
        
        M.AutoInit();
        var currYear = (new Date()).getFullYear();
        $(".datepicker").datepicker({
          defaultDate: new Date(currYear-5,1,31),
          maxDate: new Date(currYear-5,12,31),
          yearRange: [1928, currYear-5],
          format: "dd.mm.yyyy"    
        });

        var typed = new Typed('#typed', {
          stringsElement: '#welcome-strings',
          typeSpeed: 20,
          backSpeed: 5,
          backDelay: 3000,
          loop: true,
        });
      });
    </script>
  </body>
</html>
