 {{> header}}
 <div class="container">
     <div class="row">
         <div class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text" style="margin-top: 50px;">
             <div class="text-center">
                 <h1>Fehler <b>{{error.status}}</b></h1>
                 <h3>Ähmmm? Ich glaube etwas ist nicht richtig &#128549</h3>
                <h3>Ich würde dir empfehlen auf die Startseite zurück zu gehen. </h3>
                <div class="center">
                    <button id="startseite" class="btn-large white black-text">Startseite</button>
                </div>
             </div>
         </div>
     </div>
 </div>

 <script>
     document.getElementById('startseite').onclick = (e) => {
         window.location.replace("https://woidbook.com/");
     }
 </script>