{{> header}}
<div class="container">
        <div style="margin-top: 50px;" class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text">
            <h1>Email ändern</h1>
            <h5>Um deine Email zu ändern, müssen Sie Ihr derzeitiges Passwort wissen. Sollten Sie keinen Zugriff auf Ihre Email und Ihr Passwort haben, dann melden Sie sich bitte im Support</h5>
            <div class="row">
                <form id="form" style="margin-top: 50px; border-radius: 20px; padding: 20px;" class="col s12 white">
                    <p hidden style="color: #f70000; font-size: 20px;" id="emailerror"></p>
                    <div class="row">
                        <div class="input-field col s12">
                            <input data-user-email="{{user.email}}" type="email" id="newEmail" class="validate">
                            <label class="active" for="newEmail">Neue Email Adresse</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" id="newPassword" class="validate" placeholder="Passwort">
                            <label class="active" for="newPassword">Ihr Passwort</label>
                        </div>
                    </div>
                    <div class="center">
                        <button type="submit" class="btn grey darken-4">Ändern</button>
                    </div>
                </form>
            </div>
        </div>
</div>

<script>
    var emailSubmit = document.getElementById('form');
    var newEmail = document.getElementById('newEmail');
    var newPassword = document.getElementById('newPassword');

    emailSubmit.addEventListener('submit', (e) => {
        e.preventDefault();

        if(newEmail.value.trim() && newPassword.value.trim()) {
            if(newEmail.value == newEmail.getAttribute('data-user-email')) {
                document.getElementById('emailerror').innerHTML = '<h4><i class="fas fa-exclamation-circle"></i> Diese Email verwendest du bereits!</h4>'
                document.getElementById('emailerror').hidden = false;
            } else {
                var formData = new FormData();
                formData.append('email', newEmail.value);
                formData.append('password', newPassword.value);
                fetch('/user/settings/email', {
                    method: 'POST',
                    body: formData
                }).then((postres) => {
                    var res = postres.clone().json();
                    if(res) {
                        res.then((e) => {
                            if(e.state == "reload") {
                                window.location.reload();
                            } else if(e.state == "error") {
                                document.getElementById('emailerror').innerHTML = '<h4><i class="fas fa-exclamation-circle"></i> ' + e.message + '</h4>';
                                document.getElementById('emailerror').hidden = false;
                            } 
                        })
                    }
                }).catch((err) => {
                    console.error(err);
                });
            }
        } else {
            document.getElementById('emailerror').innerHTML = '<h4><i class="fas fa-exclamation-circle"></i> Bitte füllen Sie alle Felder aus!</h4>'
            document.getElementById('emailerror').hidden = false;
        }
    })
</script>