{{> header}}
<div class="container">
    <div class="row">
        <div style="margin-top: 50px;" class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text">
            <h1>Ort ändern</h1>
            <h5>Dein Ort wird dazu verwendet, dass wir Ihnen leichter bekannte Freunde vorschlagen können und die Werbung an Sie anpassen können!</h5>
            <form id="form" style="margin-top: 50px; border-radius: 20px; padding: 20px;" class="white">
                <p hidden style="color: #f70000; font-size: 20px;" id="emailerror"></p>
                <div class="form-group">
                    <label for="town">Stadt</label>
                    <input class="form-control" name="town" id="town" type="text" placeholder="{{user.address.town}}" data-currenttown="{{user.address.town}}">
                </div>
                <div class="form-group">
                    <label for="sel1">Bundesland</label>
                    <select class="form-control" id="sel1" data-current="{{user.address.country}}">
                        <option value="{{user.address.country}}">{{user.address.country}}</option>
                        <option value="Bayern">Bayern</option>
                        <option value="Baden-Württemberg">Baden-Württemberg</option>
                        <option value="Berlin">Berlin</option>
                        <option value="Brandenburg">Brandenburg</option>
                        <option value="Bremen">Bremen</option>
                        <option value="Hamburg">Hamburg</option>
                        <option value="Hessen">Hessen</option>
                        <option value="Mecklenburg-Vorpommern">Mecklenburg-Vorpommern</option>
                        <option value="Niedersachsen">Niedersachsen</option>
                        <option value="Nordrhein-Westfalen">Nordrhein-Westfalen</option>
                        <option value="Rheinland-Pfalz">Rheinland-Pfalz</option>
                        <option value="Saarland">Saarland</option>
                        <option value="Sachsen">Sachsen</option>
                        <option value="Sachsen-Anhalt">Sachsen-Anhalt</option>
                        <option value="Schleswig-Holstein">Schleswig-Holstein</option>
                        <option value="Thüringen">Thüringen</option>
                    </select>
                </div>
                <div class="center" style="margin-top: 20px;">
                    <button type="submit" class="btn grey darken-4">Ändern</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var emailSubmit = document.getElementById('form');
    var country = document.getElementById('sel1');
    var town = document.getElementById('town');

    emailSubmit.addEventListener('submit', (e) => {
        e.preventDefault();

        if((country.value.trim() && (country.value != country.getAttribute('data-current')) || (town.value.trim() && (town.value != town.getAttribute('data-currenttown'))))) {
                var formData = new FormData();
                formData.append('country', country.value);
                formData.append('town', town.value);
                fetch('/user/settings/location', {
                    method: 'POST',
                    body: formData
                }).then((postres) => {
                    var res = postres.clone().json();
                    if(res) {
                        res.then((e) => {
                            if(e.state == "reload") {
                                window.location.reload();
                            } else if(e.state == "error") {
                                document.getElementById('emailerror').innerHTML = '<h4><i class="fas fa-exclamation-circle"></i> ' + e.message + '</h4>';
                                document.getElementById('emailerror').hidden = false;
                            } 
                        })
                    }
                }).catch((err) => {
                    console.error(err);
                });
        } else {
            document.getElementById('emailerror').innerHTML = '<h4><i class="fas fa-exclamation-circle"></i> Bitte füllen Sie alle Felder aus!</h4>'
            document.getElementById('emailerror').hidden = false;
        }
    })
</script>