{{> header}}
<div class="container">
    <div class="row">
        <div class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text" style="margin-top: 50px;">
            <h1>Passwort ändern</h1>
            <h5>Um ihr Passwort zu ändern, müssen Sie Zugriff auf Ihre derzeitige Email haben, da Sie eine Bestätigungsmail von uns bekommen werden! Falls Sie keinen Zugriff haben sollten, dann ändern Sie bitte Ihre Email Adresse.</h5>
            <form id="form" style="margin-top: 50px; border-radius: 20px; padding: 20px;" class="white">
                <p hidden style="color: #f70000; font-size: 20px;" id="emailerror"></p>
                <div class="input-field">
                    <label for="oldPassword">Altes Passwort</label>
                    <input type="password" id="oldPassword" class="validate">
                </div>
                <div class="input-field">
                    <label for="newPassword">Neues Passwort</label>
                    <input type="password" id="newPassword" class="validate">
                </div>
                <div class="input-field">
                    <label for="newPassword2">Neues Passwort bestätigen</label>
                    <input type="password" id="newPassword2" class="validate">
                </div>
                <div class="center">
                    <button type="submit" class="btn grey darken-4">Ändern</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var emailSubmit = document.getElementById('form');
    var oldPassword = document.getElementById('oldPassword');
    var newPassword = document.getElementById('newPassword');
    var newPassword2 = document.getElementById('newPassword2');

    emailSubmit.addEventListener('submit', (e) => {
        e.preventDefault();

        if(oldPassword.value.trim() && newPassword.value.trim() && newPassword2.value.trim()) {
            if(newPassword.value == newPassword2.value) {
                var formData = new FormData();
                formData.append('oldPassword', oldPassword.value);
                formData.append('newPassword', newPassword.value);
                fetch('/user/settings/password', {
                    method: 'POST',
                    body: formData
                }).then((postres) => {
                    var res = postres.clone().json();
                    if(res) {
                        res.then((e) => {
                            if(e.state == "reload") {
                                document.getElementById('emailerror').innerHTML = '<h4><i class="fas fa-exclamation-circle"></i> ' + e.message + '</h4>';
                                document.getElementById('emailerror').hidden = false;
                            } else if(e.state == "error") {
                                document.getElementById('emailerror').innerHTML = '<h4><i class="fas fa-exclamation-circle"></i> ' + e.message + '</h4>';
                                document.getElementById('emailerror').hidden = false;
                            } 
                        })
                    }
                }).catch((err) => {
                    console.error(err);
                });
            } else {
                document.getElementById('emailerror').innerHTML = '<h4><i class="fas fa-exclamation-circle"></i> Das bestätigte Passwort stimmt nicht mit dem neuen Passwort überein!</h4>'
                document.getElementById('emailerror').hidden = false;
            }    
        } else {
            document.getElementById('emailerror').innerHTML = '<h4><i class="fas fa-exclamation-circle"></i> Bitte füllen Sie alle Felder aus!</h4>'
            document.getElementById('emailerror').hidden = false;
        } 
    })
</script>