{{> header}}

<div class="container" id="index" data-userid="{{user._id}}" data-username="{{user.username}}" data-targetid="{{target._id}}">
    <div class="row">
        <div class="col s12">
            <div style="margin-top: 50px; padding-top: 20px; min-height: 50vh;" class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text">
                <div style="font-size: 23px;">
                    <img style="margin-right: 10px; margin-top: -12px;" src="https://image.woidbook.com/uploads/pb-images/{{target._id}}.png" width="60" class="circle responsive-img left"><p>{{target.name}} {{#if target.verified}} 
                         <span style="position: absolute; margin-left: 12px; margin-top: 6px;" data-position="top" data-tooltip="Verifizierter Benutzer" class="tooltipped material-icons">verified_user</span>
                         {{/if}}</p>
                    <div style="margin-left: 23%; margin-top: -5.8vh;" class="center hide-on-med-and-down">
                        <p>Folgt: <a href="#followedlist" style="margin-top: 0vh; margin-right: 20px; margin-left: 5px;" class="btn-floating white black-text modal-trigger">{{target.followed.length}}</a> Wird gefolgt von: <a href="#followerlist" style="margin-top: 0vh; margin-right: 20px; margin-left: 5px;" class="btn-floating white black-text modal-trigger">{{target.follower.length}}</a></p>
                    </div>
                    {{#if isOwnPage}}
                        <a class="hide-on-med-and-down" href="/user/settings"><i style="margin-top: -5.8vh; font-size: 45px;" class="material-icons right">settings</i></a>
                    {{else}}
                        {{#if isFollowed}}
                            <button id="unfollowbutton" style="margin-top: -5.8vh;" class="btn white waves-effect waves-green right black-text">Entfolgen</button>
                        {{else}}
                            <button id="followbutton" style="margin-top: -5.8vh;" class="btn white waves-effect waves-green right black-text">Folgen</button>
                        {{/if}}
                    {{/if}}
                </div>
                <div class="description">
                    <p style="text-decoration:underline; font-size: 23px; margin-top: 3vh; margin-bottom: 1vh;">Beschreibung:</p>
                    {{target.description}}
                </div>
                <div style="margin-bottom: 2vh;" class="profile-divider"></div>
                        {{#each feed}}
                            <div class="row">
                                <div class="col s12">
                                    <div class="card white hoverable">
                                            <div class="card-content black-text">
                                                <span class="right">{{this.createdAt}}</span>
                                                <span class="card-title"><img style="margin-right: 10px; margin-bottom: -10px;" src="https://image.woidbook.com/uploads/pb-images/{{this.creator._id}}.png" width="40" class="circle responsive-img">{{this.creator.name}}</span>
                                                <p style="margin-top: 25px; font-size: 20px;">{{this.content}}</p>
                                                <div class="row" style="margin-top: 20px;">
                                                    {{#each this.images}}
                                                        <img width="500" class="materialboxed responsive-img" src="{{ this }}">
                                                    {{/each}}
                                                </div>
                                            </div>
                                            <div class="card-action">
                                                    <div class="row">
                                                        {{#if this.isLiked }}
                                                            <div class="col s3 m2 l1" onclick="unlike('{{this._id}}')">
                                                                <a><i style="font-size: 2em; color: #4286f4;" class="material-icons">thumb_up</i></a>
                                                                <span class="left wb-badge">{{this.likes.length}}</span>
                                                            </div>
                                                        {{else}}
                                                            <div class="col s3 m2 l1" onclick="like('{{this._id}}')">
                                                                <a href="#"><i style="font-size: 2em; color: black;" class="material-icons">thumb_up</i></a>
                                                                <span class="left wb-badge">{{this.likes.length}}</span>
                                                            </div>
                                                        {{/if}}
                                                        <div class="col s2 m1 l1"></div>
                                                        <div class="col s3 m2 l1" onclick="comment('{{this._id}}')">
                                                            <a class="modal-trigger" id="commentbutton"><i style="font-size: 2em; color: black;" class="material-icons">add_comment</i></a>
                                                            <span class="left wb-badge">{{this.replielength}}</span>
                                                        </div>
                                                    </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
            </div>
        </div>
        <div class="row">
            <div class="col s12" style="margin-top: 50px;">
                <div id="friendssection" class="friendbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} scrollspy">
                        <h4 class="center flow-text" style="text-decoration:underline; color: white; margin-bottom: 20px;">Gefolgt</h4>
                        {{#each user.followed}}
                            <div class="row white" style="border-radius: 10px; padding-left: 10px;">
                                <a style="color: black;" href="/user/profile/{{this.username}}">{{this.username}}</a>
                            </div>
                        {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="comment" class="modal">
    <div class="modal-content">
        <h4>Beitrag kommentieren</h4>
        <div class="comment-content">
            <div class="row">
                <div class="col s10 push-s1">
                    <div class="card {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text">
                        <div class="card-content">
                            <span class="card-title" id="commentcreator"></span>
                            <p style="margin-top: 30px;" class="card-text" id="commentcreatormessage"></p>
                            <div class="images-comment"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s10 push-s1">
                    <div class="card {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text">
                        <div class="card-content">
                            <div class="input-field">
                                <textarea style="color: white;" id="commenttext" class="materialize-textarea"></textarea>
                                <label style="color: white; border: white;" for="commenttext">Kommentar posten</label>
                                <div id="commentbutton"></div>
                            </div>
                            <div class="comment-list black-text"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="followedlist" class="modal">
    <div class="modal-content">
        <h4 class="center black-divider">Diese Personen werden von {{target.username}} gefolgt</h4>
        <div class="comment-content" style="margin-top: 3vh;">
            <div class="errorbox grey darken-4">
                {{#each target.followed}}
                    <div class="row white" style="border-radius: 10px; padding-left: 10px;">
                        <a style="color: black; font-size: 18px;" href="/user/profile/{{this.username}}">{{this.username}}</a>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div id="followerlist" class="modal">
    <div class="modal-content">
        <h4 class="center black-divider">Diese Personen folgen {{target.username}}</h4>
        <div class="comment-content" style="margin-top: 3vh;">
            <div class="errorbox grey darken-4">
                {{#each target.follower}}
                    <div class="row white" style="border-radius: 10px; padding-left: 10px;">
                        <a style="color: black; font-size: 18px;" href="/user/profile/{{this.username}}">{{this.username}}</a>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script>
    var index = document.getElementById('index');
    var userid = index.getAttribute('data-userid');
    var username = index.getAttribute('data-username');
    var targetid = index.getAttribute('data-targetid');
    var followbutton = document.getElementById('followbutton');
    var unfollowbutton = document.getElementById('unfollowbutton');

    if(followbutton) {
        followbutton.onclick = function(e) {
            var followdata = { userid: userid, followedid: targetid }
            socket.emit('follow', followdata);
            followbutton.disabled = true;
            followbutton.innerHTML = '<i class="fas fa-check"></i> Gefolgt';
        }
    }

    if(unfollowbutton) {
        unfollowbutton.onclick = function(e) {
            var followdata = { userid: userid, followedid: targetid }
            socket.emit('unfollow', followdata);
            unfollowbutton.innerHTML = 'Folgen';
        }
    }

    // Command modal
    var invalidinputcomment = document.getElementById('commentinvalid');
    var commenttext = document.getElementById('commenttext');

    function comment(postid) {
        var commentmodal = $('#comment');
        socket.emit('getCommentInfo', { _id: postid });

        socket.on('commentInfo', (data) => {
            if(data && (data.type == "success")) {
                $('#commentcreator').html('<img style="margin-right: 10px; margin-bottom: -10px;" src="https://image.woidbook.com/uploads/pb-images/' + data.comment.creator._id + '.png" width="40" class="circle responsive-img">' + data.comment.creator.username);
                var imagecode = "";
                for(let i = 0; i < data.comment.images.length; i++) {
                    if(data.comment.images[i]) {
                        imagecode += '<img class="materialboxed responsive-img" src="' + data.comment.images[i] + '">';
                    }
                }
                
                $('#commentcreatormessage').html(data.comment.content);
                commentmodal.find('.images-comment').html('<div class="row" style="margin-top: 20px;">' + imagecode + "</div>");
                
                var commentcode = "";
                for(let i = 0; i < data.comment.replies.length; i++) {
                    commentcode += '<div class="row"><div class="col s12"><div class="card"><div class="card-content"><span class="right">' + data.comment.replies[i].time + '</span><span class="card-title"><img style="margin-right: 10px; margin-bottom: -10px;" src="https://image.woidbook.com/uploads/pb-images/' + data.comment.replies[i].creator._id + '.png" width="40" class="circle responsive-img">' + data.comment.replies[i].creator.name + '</span>' + data.comment.replies[i].message + '</div></div></div></div>'
                }
                commentmodal.find('.comment-list').html(commentcode);
                commentmodal.find('#commentbutton').html(`<button onclick="commentPost('` + data.comment._id + `', { _id: '` + userid + `', username: '` + username + `'})" class="btn right white black-text waves-effect waves-green">Kommentieren</button>`);

                commentmodal.modal('open');
            }
        });
    }

    function like(postObject) {
        socket.emit('likePost', { userid: userid, postObject: postObject});
    }

    function unlike(postObject) {
        socket.emit('unlikePost', { userid: userid, postObject: postObject});
    }

    function commentPost(postid, user) {
        if(commenttext.value.trim()) {
            socket.emit('commentPost', { message: commenttext.value, time: new Date().toLocaleString(), postObject: postid, _id: user._id, username: user.username});
        }
    }
</script>