{{> header}}

<div class="container">
    <div class="row">
        <div id="box" data-userid="{{user._id}}" class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text" style="margin-top: 50px;">
            <h2>Suchergebnisse für: <b>{{ searchTitle }}</b></h2>
            {{#each foundedObjects}}
                <div class="row">
                    <div class="col s12">
                        <div class="card black-text">
                            <div class="card-content">
                                <span class="card-title"><a href="/user/profile/{{this.username}}" class="black-text"><img style="margin-right: 10px; margin-bottom: -10px;" src="https://image.woidbook.com/uploads/pb-images/{{this._id}}.png" width="40" class="circle responsive-img">{{this.name}}</a></span>
                                {{this.description}}
                                <div class="right-align">
                                    {{#if this.isFollowed}}
                                        <button class="btn waves-effect waves-light grey darken-4 disabled"><i class="material-icons left">done</i>Gefolgt</button>
                                    {{else}}
                                        <button id="{{this._id}}" onclick="follow('{{this._id}}')" class="btn waves-effect waves-light grey darken-4"><i class="material-icons left">add_circle</i>Folgen</button>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>

<script>
    function follow(followedid) {
        if(userid == followedid) return;

        var userid = document.getElementById('box').getAttribute('data-userid').toString();
        var item = document.getElementById(followedid);
        item.disabled = true;
        item.innerHTML = '<i class="fas fa-check"></i> Gefolgt';

        // send emit to backend
        socket.emit('follow', { userid: userid, followedid: followedid.toString() });
    }
</script>