{{> header }}
<div class="container">
    <p hidden id="username">{{user._id}}</p>
    <div class="row">
        <div class="col-10">
            <div class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text" style="margin-top: 50px;">
                <h3 class="center" style="text-decoration:underline;">Account</h3>
                <p style="color:lightgreen;" id="info"></p>
                <p style="color:red;" id="error"></p>
                <ul style="font-size: 21px; margin-left: 20px;">
                    <li class="center todo-divider">
                        <div class="row">
                                <form action="#">
                                    Profilbild ändern:
                                    <div style="margin-left: 20px;" class="file-field input-field inline">
                                        <div class="btn white black-text">
                                            <span>Profilbild</span>
                                            <input id="profilepictureupload" type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </li>
                    <li class="center todo-divider">
                        <div class="row">
                                <form>
                                    Name ändern:
                                    <div style="margin-left: 20px;" class="input-field inline">
                                        <input data-length="25" type="text" class="validate white-text" id="namechange" data-name="{{user.name}}" value="{{user.name}}">
                                    </div>
                                    <button style="margin-left: 10px;" id="namebutton" class="btn white black-text">Ändern</button>
                                </form>
                            </div>
                    </li>
                    <li class="center todo-divider">
                        <div class="row">
                            <form>
                                 Beschreibung ändern:
                                <div style="margin-left: 20px;" class="input-field inline">
                                    <textarea rows="2" cols="40" class="materialize-textarea white-text" id="descriptionchange" data-description="{{user.name}}">{{user.description}}</textarea>
                                </div>
                                <button style="margin-left: 10px;" id="descriptionbutton" disabled class="btn white black-text">Ändern</button>
                            </form>
                        </div>
                    </li>
                    <li class="center todo-divider">
                        <div class="row">
                            <form>
                                 Geburtstag ändern:
                                <div style="margin-left: 20px;" class="input-field inline black-text">
                                    <label for="birthdaypicker">Geburtstag</label>
                                    <input id="birthdaypicker" type="text" class="datepicker white-text" value="{{user.birthday}}" data-birthday="{{user.birthday}}">
                                </div>
                                <button style="margin-left: 10px;" id="birthdaychange" disabled class="btn white black-text">Ändern</button>
                            </form>
                        </div>
                    </li>
                    <li class="center"><a style=" color: white; margin-top: -10px;" href="/user/settings/email" class="btn white black-text">Email Adresse ändern</a></li>
                    <li class="center"><a style=" color: white; margin-top: 20px;" href="/user/settings/password" class="btn white black-text">Passwort ändern</a></li>
                    <li class="center"><a style=" color: white; margin-top: 20px;" href="/user/settings/location" class="btn white black-text">Ort ändern</a></li>
                    {{#if user.dark}}
                        <li class="center"><a style=" color: white; margin-top: 20px;" onclick="lighttheme('{{user._id}}');" class="btn white black-text">Lighttheme benutzen </a></li>
                    {{else}}
                        <li class="center"><a style=" color: white; margin-top: 20px;" onclick="darktheme('{{user._id}}');" class="btn white black-text">Darktheme benutzen</a></li>
                    {{/if}}
                    <li class="center"><a style=" color: white; margin-top: 20px;" href="#deleteAccount" class="btn red white-text modal-trigger">Account löschen</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="deleteAccount" class="modal">
    <div class="modal-content">
        <h4>Account löschen</h4>
        <div style="font-size: 20px;" class="center">
            Sind Sie sich sicher, dass Sie Ihren WoidBook Account löschen möchten?
        </div>
        <div style="font-size: 17px;" class="center">
            Alle Daten die jemals von Ihnen gespeichert wurden, werden gelöscht! Eine Wiederherstellung Ihres Accountes ist <b>NICHT</b> möglich!
        </div>
        <div style="margin-top: 2vh;" class="row center">
            <button onclick="deleteAccount({{user._id}})" class="btn red">Ja, ich möchte ihn löschen</button>
            <button class="btn green darken-4 modal-close">Abbrechen</button>
        </div>
    </div>
</div>

<script>
    var profilepictureuplaod = document.getElementById('profilepictureupload');
    var namechange = document.getElementById('namechange');
    var namebutton = document.getElementById('namebutton');
    var descriptionchange = document.getElementById('descriptionchange');
    var descriptionbutton = document.getElementById('descriptionbutton');
    var birthdaychange = document.getElementById('birthdaychange');
    var birthdaypicker = document.getElementById('birthdaypicker');
    var username = document.getElementById('username');
    var info = document.getElementById('info');
    var info = document.getElementById('error');

    function deleteAccount(id) {
        socket.emit("deleteAccount", { userid: id });
    }

    function darktheme(id) {
        socket.emit("toogleTheme", { theme: "dark", _id: id});
    }

    function lighttheme(id) {
        socket.emit("toogleTheme", { theme: "light", _id: id});
    }

    profilepictureuplaod.onchange = (e) => {
        // e.target.files[0]
        var imagesocket = io('https://image.woidbook.com');
        imagesocket.emit('pb-image', {username: username.textContent, image: e.target.files[0]});

        imagesocket.on('pbimage-imagedone-ready', (data) => {
            info.innerHTML = '<h4 style="color:lightgreen;"><i class="fas fa-check-circle"></i> Dein Profilbild wurde geändert!</h4>';
            socket.emit('setUserProfileImage', data);
        });
    }

    namebutton.onclick = (e) => {
        e.preventDefault();
        if(namechange.value.trim() && namechange.value != namechange.getAttribute('data-name') && namechange.value.length < 17) {
            socket.emit('changeName', { _id: username.textContent, name: namechange.value });
            info.innerHTML = '<h4 style="color:lightgreen;"><i class="fas fa-check-circle"></i> Dein Name wurde erfolgreich geändert!</h4>';
        } else {
            error.innerHTML = '<h4><i class="fas fa-exclamation-circle"></i> Bitte fülle das Feld für den Namen aus! Jedoch darf er nicht größer als 16 Zeichen sein!</h4>';
        }
    };

    descriptionchange.oninput = (e) => {
        if(descriptionchange.value.trim() && descriptionchange.value.length < 150 && descriptionchange.value != descriptionchange.getAttribute('data-description')) {
            descriptionbutton.disabled = false;
        } else {
            descriptionbutton.disabled = true;
        }
    }

    descriptionbutton.onclick = (e) => {
        e.preventDefault();
        if(descriptionchange.value.trim() && descriptionchange.value.length < 150) {
            if(descriptionchange.value != descriptionchange.getAttribute('data-description')) {
                socket.emit('changeDescription', { _id: username.textContent, description: descriptionchange.value });
                info.innerHTML = '<h4 style="color:lightgreen;"><i class="fas fa-check-circle"></i> Deine Beschreibung wurde erfolgreich geändert!</h4>';
            } else {
                error.innerHTML = '<h4><i class="fas fa-exclamation-circle"></i> Bitte wähle eine andere Beschreibung aus!</h4>';
            }
        } else {
            error.innerHTML = '<h4><i class="fas fa-exclamation-circle"></i> Bitte fülle das Feld für deine Beschreibung aus!</h4>';
        }
    };

    birthdaypicker.onchange = (e) => {
        if(birthdaypicker.value.trim() && birthdaypicker.value != birthdaypicker.getAttribute('data-birthday')) {
            birthdaychange.disabled = false;
        } else {
            birthdaychange.disabled = true;
        }
    }

    birthdaychange.onclick = (e) => {
        e.preventDefault();
        if(birthdaypicker.value.trim()) {
            if(birthdaypicker.value != birthdaypicker.getAttribute('data-birthday')) {
                socket.emit('changeBirthday', { _id: username.textContent, birthday: birthdaypicker.value });
                info.innerHTML = '<h4 style="color:lightgreen;"><i class="fas fa-check-circle"></i> Dein Geburtsdatum wurde erfolgreich geändert!</h4>';
            } else {
                error.innerHTML = '<h4><i class="fas fa-exclamation-circle"></i> Bitte wähle eine anderes Geburtsdatum aus!</h4>';
            }
        } else {
            error.innerHTML = '<h4><i class="fas fa-exclamation-circle"></i> Bitte fülle das Feld für dein Geburtsdatum aus!</h4>';
        }
    };
</script>