{{>header}}

<div class="container">
    <div class="row">
        <div class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text" style="margin-top: 50px;">
            <h1>{{userTitle}}</h1>
            <h4>{{message}}</h4>
        </div>
    </div>
</div>