{{> header }}
{{#if isLoggedIn}}
    <div class="container" style="margin-top: 80px;" id="index" data-userid="{{user._id}}" data-username="{{user.username}}">
        <div class="row">
            <div class="col s12 m12 l10">
                {{#if hasError}}
                    {{#each error}} 
                        <div class="errorbox red">
                            <center>
                                <p class="flow-text white-text">{{this}}</p>
                            </center>
                        </div>
                    {{/each}}
                {{/if}}
                <div class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}}">
                    <div class="row">
                        <form id="form" class="col s12">
                            <div class="row">
                                <p style="color: red; font-size: 20px;" id="posterror"></p>
                                <div id="tags" class="row"></div>
                                <div class="input-field col s12">
                                    <textarea style="color: white;" id="textarea1" class="materialize-textarea"></textarea>
                                    <label style="color: white; border: white;" for="textarea1">Neuen Beitrag posten</label>
                                    <a class="modal-trigger tooltipped" data-position="bottom" data-tooltip="Füge ein Foto hinzu" href="#image"><i style="font-size: 2.5em;" class="material-icons">add_photo_alternate</i></a>
                                    <button type="submit" class="btn right pulse white black-text waves-effect waves-green">Posten</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="feed">
                        {{#each feed}}
                            <div class="row">
                                <div class="col s12">
                                    <div class="card white hoverable">
                                            <div class="card-content black-text">
                                                <span style="margin-right: 10px;" class="right hide-on-small-only">{{this.createdAt}}<a style="position: absolute; margin-top: -0.3vh;" class="black-text hover"><i style="font-size: 30px;" class="material-icons">more_vert</i></a></span>
                                                <a href="https://woidbook.com/user/profile/{{this.creator.username}}" style="color: black;"><span class="card-title flow-text"><img alt="" style="margin-right: 10px; margin-bottom: -10px;" src="https://image.woidbook.com/uploads/pb-images/{{this.creator._id}}.png" width="40" class="circle responsive-img">{{this.creator.name}}</span></a>
                                                <p class="flow-text" style="margin-top: 25px; font-size: 20px;">{{this.content}}</p>
                                                <div class="row" style="margin-top: 20px;">
                                                    {{#each this.images}}
                                                        <img width="50%" style="max-width: 400px;" class="materialboxed responsive-img wb-postimage" src="{{ this }}">
                                                    {{/each}}
                                                </div>
                                            </div>
                                            <div class="card-action">
                                                    <div class="row">
                                                        {{#if this.isLiked }}
                                                            <div class="col s3 m2 l1" onclick="unlike('{{this._id}}')">
                                                                <a><i style="font-size: 2em; color: #4286f4;" class="material-icons">thumb_up</i></a>
                                                                <span class="left wb-badge">{{this.likes.length}}</span>
                                                            </div>
                                                        {{else}}
                                                            <div class="col s3 m2 l1" onclick="like('{{this._id}}')">
                                                                <a href="#"><i style="font-size: 2em; color: black;" class="material-icons">thumb_up</i></a>
                                                                <span class="left wb-badge">{{this.likes.length}}</span>
                                                            </div>
                                                        {{/if}}
                                                        <div class="col s2 m1 l1"></div>
                                                        <div class="col s3 m2 l1" onclick="comment('{{this._id}}')">
                                                            <a class="modal-trigger" id="commentbutton"><i style="font-size: 2em; color: black;" class="material-icons">add_comment</i></a>
                                                            <span class="left wb-badge">{{this.replielength}}</span>
                                                        </div>
                                                    </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col s2 m2 hide-on-med-and-down show-on-large">
                <div id="friendssection" class="friendbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} scrollspy">
                    <h4 class="center flow-text" style="text-decoration:underline; color: white; margin-bottom: 20px;">Gefolgt</h4>
                    {{#each user.followed}}
                         <div class="row white" style="border-radius: 10px; padding-left: 10px;">
                             <a style="color: black;" href="/user/profile/{{this.username}}">{{this.username}}</a>
                         </div>
                    {{/each}}
                </div>
            </div> 
        </div>

        <div class="row">
            <div class="col s12 hide-on-large-only show-on-medium-and-down">
                <div id="friendssection" class="friendbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} scrollspy">
                        <h4 class="center flow-text" style="text-decoration:underline; color: white; margin-bottom: 20px;">Gefolgt</h4>
                        {{#each user.followed}}
                            <div class="row white" style="border-radius: 10px; padding-left: 10px;">
                                <a style="color: black;" href="/user/profile/{{this.username}}">{{this.username}}</a>
                            </div>
                        {{/each}}
                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="container" style="margin-top: 80px;">
        <div class="row">
            <div class="col s2"></div>
            <div class="col s8">
                <div class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} center-align valign white-text hide-on-small-only show-on-medium-and-up">
                    <div id="welcome-strings">
                        <p>Willkommen bei <strong>WoidBook</strong></p>
                        <p>Melden Sie sich an um <strong>WoidBook</strong> nutzen zu können!</p>
                    </div>
                    <span id="typed"></span><br>
                    <a href="#anmelden" class="modal-trigger waves-effect waves-light btn-large light-blue darken-4"><i class="material-icons left">send</i>Anmelden</a>
                    <a href="#registrieren" class="modal-trigger waves-effect waves-light btn-large light-blue darken-4"><i class="material-icons left">add_circle</i>Registrieren</a>
                </div>
                <div class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} center-align valign hide-on-med-and-up show-on-small white-text">
                    <a href="#anmelden" style="margin-top: 4vh;" class="modal-trigger waves-effect waves-light btn light-blue darken-4">Anmelden</a>
                    <a href="#registrieren" style="margin-top: 2vh;" class="modal-trigger waves-effect waves-light btn light-blue darken-4">Registrieren</a>
                </div>
            </div>
            <div class="col s2"></div>
        </div>
        <div style="height: 25vh;"></div>
    </div>
{{/if}}

<div id="comment" class="modal">
    <div class="modal-content">
        <h4>Beitrag kommentieren</h4>
        <div class="comment-content">
            <div class="row">
                <div class="col s10 push-s1">
                    <div class="card {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text">
                        <div class="card-content">
                            <span class="card-title flow-text" id="commentcreator"></span>
                            <p style="margin-top: 30px;" class="card-text flow-text" id="commentcreatormessage"></p>
                            <div class="images-comment"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s10 push-s1">
                    <div class="card {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text">
                        <div class="card-content">
                            <div class="input-field">
                                <textarea style="color: white;" id="commenttext" class="materialize-textarea"></textarea>
                                <label style="color: white; border: white;" for="commenttext">Kommentar posten</label>
                                <div id="commentbutton"></div>
                            </div>
                            <div class="comment-list black-text"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="image" class="modal">
    <div class="modal-content">
        <h4>Foto hinzufügen</h4>
            <form style="margin-top: 30px;">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Foto</span>
                        <input id="imageupload" type="file" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Wähle ein Foto aus!">
                    </div>
                </div>
                <div id="addedimages"></div>
            </form>  
    </div>
</div>

<!-- Preloader and it's background. -->
<div class="preloader-background">
<div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  <p class="blinking">Loading</p>
</div>

<script>
    // User variables 
    var index = document.getElementById('index');
    var userid = index.getAttribute('data-userid');
    var username = index.getAttribute('data-username');


    // Image modal
    var images = [];
    var imageinput = document.getElementById('imageupload');
    var addedimages = document.getElementById('addedimages');

    // image adding
    imageinput.onchange = (e) => {
        for(let i = 0; i < e.target.files.length; i++) {
            if(e.target.files[i].type == "image/jpeg" || e.target.files[i].type == "image/png") {
                images.push(e.target.files[i]);
                $('#addedimages').append('<div class="row" id="' + e.target.files[i].name + '">' + e.target.files[i].name + `<a onclick="deleteImage('` + e.target.files[i].name + `')" style="margin-left: 15px;" class="btn-floating btn waves-effect waves-light red"><i class="material-icons">delete</i></a></div>`);
            } else {
                $('#addedimages').append('<div class="row" style="color:red;">' + e.target.files[i].name + ' ist kein Foto!</div>');
            }
        }
    }

    // delete image from array
    function deleteImage(name) {
        for(let i = 0; i < images.length; i++) {
            if(images[i].name == name) {
                images.splice(i, 1);
                document.getElementById(name).remove();
                console.log(images);
            }
        }
    }

    // Command modal
    var invalidinputcomment = document.getElementById('commentinvalid');
    var commenttext = document.getElementById('commenttext');

    function comment(postid) {
        var commentmodal = $('#comment');
        socket.emit('getCommentInfo', { _id: postid });

        socket.on('commentInfo', (data) => {
            if(data && (data.type == "success")) {
                $('#commentcreator').html('<img style="margin-right: 10px; margin-bottom: -10px;" src="https://image.woidbook.com/uploads/pb-images/' + data.comment.creator._id + '.png" width="40" class="circle responsive-img">' + data.comment.creator.username);
                var imagecode = "";
                for(let i = 0; i < data.comment.images.length; i++) {
                    if(data.comment.images[i]) {
                        imagecode += '<img class="materialboxed responsive-img" src="' + data.comment.images[i] + '">';
                    }
                }
                
                $('#commentcreatormessage').html(data.comment.content);
                commentmodal.find('.images-comment').html('<div class="row" style="margin-top: 20px;">' + imagecode + "</div>");
                
                var commentcode = "";
                for(let i = 0; i < data.comment.replies.length; i++) {
                    commentcode += '<div class="row"><div class="col s12"><div class="card"><div class="card-content"><span class="right">' + data.comment.replies[i].time + '</span><span class="card-title"><img style="margin-right: 10px; margin-bottom: -10px;" src="https://image.woidbook.com/uploads/pb-images/' + data.comment.replies[i].creator._id + '.png" width="40" class="circle responsive-img">' + data.comment.replies[i].creator.name + '</span>' + data.comment.replies[i].message + '</div></div></div></div>'
                }
                commentmodal.find('.comment-list').html(commentcode);
                commentmodal.find('#commentbutton').html(`<button onclick="commentPost('` + data.comment._id + `', { _id: '` + userid + `', username: '` + username + `'})" class="btn right white black-text waves-effect waves-green">Kommentieren</button>`);

                commentmodal.modal('open');
            }
        });
    }

    // Get file
    function getFile(name) {
        var length = images.length;
        for(let i = 0; i < length; i++) {
            if(images[i].file.name == name) {
                return images[i];
            }
        }
    }

    // submit post form
    form.addEventListener('submit', (e) => {
        e.preventDefault();
        var formData = new FormData();
        var message = document.getElementById('textarea1').value;
        formData.append('message', message);
        formData.append('createdAt', new Date().toLocaleString());
        formData.append('createNumber', Date.now());

        if(message.trim()) {
            if(images.length == 0) {
                createPostRequest(formData);
            } else {
                for(let i = 0; i < images.length; i++) {
                    formData.append('images', images[i], images[i].name);
                }
                createPostRequest(formData);
            }
        } else {
            document.getElementById('posterror').innerHTML = '<h4 class="flow-text"><i class="fas fa-exclamation-circle"></i> Bitte gib eine Nachricht ein!</h4>'
            document.getElementById('posterror').hidden = false;
        }

        function createPostRequest(images) {
            fetch('/posts/create', {
                method: 'POST',
                body: formData
            }).then((postres) => {
                var res = postres.clone().json();
                console.log(res);
                if(res) {
                    res.then((e) => {
                        if(e.state == "reload") {
                            window.location.reload();
                        } 
                    })
                }
            }).catch((err) => {
                console.error(err);
            });
        }
    });

    // like function
    function like(postObject) {
        socket.emit('likePost', { userid: userid, postObject: postObject});
    }

    // unlike function
    function unlike(postObject) {
        socket.emit('unlikePost', { userid: userid, postObject: postObject});
    }

    // commentPost function
    function commentPost(postid, user) {
        if(commenttext.value.trim()) {
            socket.emit('commentPost', { message: commenttext.value, time: new Date().toLocaleString(), postObject: postid, _id: user._id, username: user.username});
        }
    }

    // Mention
    var markedPeople = [];
    document.getElementById('textarea1').oninput = () => {
        var textMessage = $('#textarea1').val();
        var splittedMessage = textMessage.split(' ');
        if(splittedMessage.length > 1) {
            var message = splittedMessage[splittedMessage.length-2];
            if(message) {
                if(message.startsWith('@') && !contains(message.toString()) && message.length > 1) {
                    markedPeople.push(message);
                    $('#tags').append('<div class="chip">' + message + `<i class="close material-icons" onclick="deleteChip('` + message + `')">close</i></div>`)
                }
            }
        }

        function contains(string) {
            for(let i = 0; i < markedPeople.length; i++) {
                if(markedPeople[i] == string) {
                    return true;
                }
            }
            return false;
        }
    }

    // Delete Mention chio
    function deleteChip(chip) {
        for(let i = 0; i < markedPeople.length; i++) {
            if(markedPeople[i] == chip) {
                markedPeople.splice(i, 1);
                $('#textarea1').val($('#textarea1').val().replace(chip, ''));
            }
        }
    }

    // EXIF image rotation
    function fixExifOrientation($img) {
        console.log($img[0]);
        $($img).on('load', function() {
            EXIF.getData($img[0], function() {
                console.log('Exif=', EXIF.getTag(this, "Orientation"));
                switch(parseInt(EXIF.getTag(this, "Orientation"))) {
                    case 2:
                        $img.addClass('flip'); break;
                    case 3:
                        $img.addClass('rotate-180'); break;
                    case 4:
                        $img.addClass('flip-and-rotate-180'); break;
                    case 5:
                        $img.addClass('flip-and-rotate-270'); break;
                    case 6:
                        $img.addClass('rotate-90'); break;
                    case 7:
                        $img.addClass('flip-and-rotate-90'); break;
                    case 8:
                        $img.addClass('rotate-270'); break;
                }
            });
        });
    }
</script>
