{{> header}}
<div class="container">
    <div class="row hide-on-med-and-down" style="margin-top: 50px;">
        <div class="col s2"></div>
        <div class="col s8">
            <div class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text">
                <h2>Servus! &#128075</h2>
                <p class="flow-text">Leider muass i dia song, dass ma zurzeit unsere Systeme umstaind. Oba boid is so weit! In a poar Wochen wird unser Handy App veröffentlicht! &#128518 <br><br> <strong>Bleibt gspannt! Habaderenk</strong>	&#128519</p>
            </div>
        </div>
        <div class="col s2"></div>
    </div>
    <div class="row hide-on-large-only" style="margin-top: 50px;">
        <div class="col s12">
            <div class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}}white-text">
                <h2>Servus! &#128075</h2>
                <p class="flow-text">Leider muass i dia song, dass ma zurzeit unsere Systeme umstaind. Oba boid is so weit! In a poar Wochen wird unser Handy App veröffentlicht! &#128518 <br><br> <strong>Bleibt gspannt! Habaderenk</strong>	&#128519</p>
            </div>
        </div>
    </div>
</div>