{{> header}}

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text">
            <div class="text-center">
                <h1>Impressum</h1>
                <h4>Verantwortlich für den Inhalt:</h4>
                <p>
                    Nicolas Hasenkopf<br>
                    Fraunenauerstr. 38<br>
                    94227 Zwiesel<br>
                    E-Mail: woidbook.business@gmail.com <br>
                    Telefon: 0174 3454368<br>
                </p>
            </div>
        </div>
    </div>
</div>