/*
  General 
*/
html {
  height: 100%;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../background.jpg");
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
}

.hover:hover {
  cursor: pointer;
}

/* LOGINBOX */
.loginbox {
  padding: 30px 30px;
  min-width: 60%;
  max-width: 100%;
  min-height: 30vh;
  border-radius: 50px;
}

.errorbox {
  padding: 30px 30px;
  min-width: 60%;
  max-width: 100%;
  min-height: 10vh;
  border-radius: 50px;
  margin-bottom: 3vh;
}


.loginbox a {
  margin-top: 7vh;
}

.friendbox {
  padding: 20px 20px;
  min-width: 60%;
  max-width: 100%;
  min-height: 10vh;
  border-radius: 50px;
}

a {
  color: white;
}

 /* label focus color */
 .input-field input[type=text]:focus + label {
  color: #fff !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

 /* label focus color */
 .input-field textarea:focus + label {
  color: #fff !important;
}
/* label underline focus color */
.input-field textarea:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

.profile-divider {
  background: white;
  padding: 2.5px;
  border-radius: 90px;
}

.description {
  font-size: 20px;
  margin-bottom: 20px;
}

.cursor:hover {
  cursor: pointer;
}

.friend-list {
  margin-top: 20px;
}

.friend-item {
  padding: 0;
  overflow: hidden;
  margin-top: 10px;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  background-color: #276bd8;
  color: white;
  border-radius: 15px;
  padding: 4px 0px;
}

.friend-item a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 10%;
}

/* SLIDER */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .row {
    display: block;
  }

  .black-box, .black-infobox {
    min-width: 370px;
  }
}


.commentobj {
  margin-top: 25px;
  color: black;
  background-color: #f9fbff;
  border-radius: 4px;
}

.commentbody {
  font-size: 17px;
  padding: 2% 4% 0.5% 4%;
}

.commentheader {
  font-size: 20px;
  height: 20%;
  font-weight: 500;
  background-color: #dee1e8 !important;
  border-radius: 4px;
  padding: 2% 4% 0.5% 4%;
}

#typed { /* Text Styling */
  font-family: "Consolas";
  font-weight: bold;
  font-size: 1.75em;
}

/* SEARCH */
.search-card {
  color: black;
  max-width: 1100px;
  min-width: 100px;
  background: white;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px 30px 10px;	
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;	
}

.search-title {
  min-height: 20px;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

.dropdown-toggle::after {
  display:none;
}

.dropdown-menu { right: 0; left: auto; }

/* ADMIN */
.admin-infopanel {
  font-size: 2.2vh;
  max-width: 400px;
  min-width: 200px;
  min-height: 80px;
  border-radius: 60px;
  padding: 20px 40px 5px;
  margin: 0 auto;
  margin-left: 10px;
  margin-top: 20px;	
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  position: relative;	
}

.admin-number {
  margin-top: 2px;
  color: #f2f2f2;
  font-size: 2.8vh;
}

.admin-lightblue {
  background: rgba(43,120,237,1);
  background: -moz-linear-gradient(left, rgba(43,120,237,1) 0%, rgba(9,46,113,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(43,120,237,1)), color-stop(100%, rgba(9,46,113,1)));
  background: -webkit-linear-gradient(left, rgba(43,120,237,1) 0%, rgba(9,46,113,1) 100%);
  background: -o-linear-gradient(left, rgba(43,120,237,1) 0%, rgba(9,46,113,1) 100%);
  background: -ms-linear-gradient(left, rgba(43,120,237,1) 0%, rgba(9,46,113,1) 100%);
  background: linear-gradient(to right, rgba(43,120,237,1) 0%, rgba(9,46,113,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b78ed', endColorstr='#092e71', GradientType=1 );
}

.admin-purple {
  background: rgba(121,44,237,1);
  background: -moz-linear-gradient(left, rgba(121,44,237,1) 0%, rgba(56,9,113,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(121,44,237,1)), color-stop(100%, rgba(56,9,113,1)));
  background: -webkit-linear-gradient(left, rgba(121,44,237,1) 0%, rgba(56,9,113,1) 100%);
  background: -o-linear-gradient(left, rgba(121,44,237,1) 0%, rgba(56,9,113,1) 100%);
  background: -ms-linear-gradient(left, rgba(121,44,237,1) 0%, rgba(56,9,113,1) 100%);
  background: linear-gradient(to right, rgba(121,44,237,1) 0%, rgba(56,9,113,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#792ced', endColorstr='#380971', GradientType=1 );
}

.admin-green {
  background: rgba(61,157,16,1);
  background: -moz-linear-gradient(left, rgba(61,157,16,1) 0%, rgba(50,129,14,1) 44%, rgba(37,99,9,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(61,157,16,1)), color-stop(44%, rgba(50,129,14,1)), color-stop(100%, rgba(37,99,9,1)));
  background: -webkit-linear-gradient(left, rgba(61,157,16,1) 0%, rgba(50,129,14,1) 44%, rgba(37,99,9,1) 100%);
  background: -o-linear-gradient(left, rgba(61,157,16,1) 0%, rgba(50,129,14,1) 44%, rgba(37,99,9,1) 100%);
  background: -ms-linear-gradient(left, rgba(61,157,16,1) 0%, rgba(50,129,14,1) 44%, rgba(37,99,9,1) 100%);
  background: linear-gradient(to right, rgba(61,157,16,1) 0%, rgba(50,129,14,1) 44%, rgba(37,99,9,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d9d10', endColorstr='#256309', GradientType=1 );
}

.admin-blue {
  background: rgba(66,44,237,1);
  background: -moz-linear-gradient(left, rgba(66,44,237,1) 0%, rgba(27,9,113,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(66,44,237,1)), color-stop(100%, rgba(27,9,113,1)));
  background: -webkit-linear-gradient(left, rgba(66,44,237,1) 0%, rgba(27,9,113,1) 100%);
  background: -o-linear-gradient(left, rgba(66,44,237,1) 0%, rgba(27,9,113,1) 100%);
  background: -ms-linear-gradient(left, rgba(66,44,237,1) 0%, rgba(27,9,113,1) 100%);
  background: linear-gradient(to right, rgba(66,44,237,1) 0%, rgba(27,9,113,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#422ced', endColorstr='#1b0971', GradientType=1 );
}

.admin-bottom {
  border-bottom: 2px white solid;
  padding-bottom: 10px;
}

footer {
  flex: 1 0 auto;
}


/* 
  WB Badges
*/

.wb-badge{
  position: absolute;
  font-size: 2.1vh;
  text-align: center;
  top: 0.2vh;
  margin-left: 6%;
  color: white !important;
  text-align: center;
  background-color: #2377ff;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
}

/* 
  WB Image rotation
*/

.rotate-90 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate-180 {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate-270 {
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.flip {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flip-and-rotate-90 {
  -moz-transform: rotate(90deg) scaleX(-1);
  -webkit-transform: rotate(90deg) scaleX(-1);
  -o-transform: rotate(90deg) scaleX(-1);
  transform: rotate(90deg) scaleX(-1);
}

.flip-and-rotate-180 {
  -moz-transform: rotate(180deg) scaleX(-1);
  -webkit-transform: rotate(180deg) scaleX(-1);
  -o-transform: rotate(180deg) scaleX(-1);
  transform: rotate(180deg) scaleX(-1);
}

.flip-and-rotate-270 {
  -moz-transform: rotate(270deg) scaleX(-1);
  -webkit-transform: rotate(270deg) scaleX(-1);
  -o-transform: rotate(270deg) scaleX(-1);
  transform: rotate(270deg) scaleX(-1);
}

/*
  WB-Preloader
*/
.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #212121;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.preloader-background p {
    color: white;
    padding-top:120px;
    margin-left: -60px;
    opacity: 0.8;
}

.blinking {
	animation: blinker 0.5s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0; }
}

/* 

  TODO

*/

.todo-divider {
  border-bottom: solid 2px white;
  margin-bottom: 20px;
}