<!-- STYLE -->
<style>
    .about-navbar {
        background-color: #232426;
        height: 8vh;
    }

    .about-navbar ul {
        margin-left: 25%;
        text-decoration: none;
        
    }

    .about-navbar .li-heading {
        float: left;
        font-family: 'Pacifico', cursive;
        font-size: 2.3em;
        color: #eff2ef;
    }

    .about-navbar .li-normal {
        float: left;
        margin-left: 1.5vw;
        margin-top: 1vh;
        font-family: 'Permanent Marker', cursive;
        font-size: 1.35em;
        color: #eff2ef;
    }

    .about-content {
        padding-top: 3vh;
        color: #eff2ef;
        font-family: 'Permanent Marker', cursive;
        height: 2000px;
        background-color:#232426;
    }
</style>

<!-- NAVBAR -->
<div class="about-navbar">
    <ul class="left">
        <li class="li-heading">WoidBook</li>
    </ul>
    <ul class="left" style="margin-left: 44%;">
        <li class="li-normal">Anmelden</li>
        <li class="li-normal">Registrieren</li>
    </ul>
</div>

<!-- MAIN CONTENT -->
<div class="about-content">
    <div class="container">
        <div class="row">
            <center>
                <h1>Was ist WoidBook?</h1>
                <h4>- WoidBook ist eine Social Media Plattform, die speziel für Bayern entwickelt wurde.</h4>
                <h4>- Jeder hat die Möglichkeit, sich mit anderen Freunden auszutauschen!</h4>
                <h4>- Die Plattform verfügt über sämtliche Features die einzigartig sind.</h4>
                <br><br>
                <h1>Warum WoidBook?</h1>
                <h4>- Wir versprechen dir höchste Sicherheit!</h4>
                <h4>- Wir bieten dir einen 24h Support!</h4>
            </center>
        </div>
    </div>
</div>