{{> header}}

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text">
            <h2>Todo</h2>
            <div class="todo-divider"></div>
            <div class="row">
                {{#each todos}}
                    <div class="col s6">
                        <div class="row">
                            <div class="col s12">
                                <div class="card blue-grey">
                                    <div class="card-content white-text">
                                    <span class="card-title" style="font-size:35px; font-weight:bold; text-decoration: underline;">{{this.who.username}}</span>
                                    <br>
                                    <p style="font-size:20px;">{{this.content}}</p>
                                    <br>
                                    <h5>Von: <strong>{{this.from.username}}</strong></h5>
                                    <h5>Bis: <strong>{{this.date}}</strong></h5>
                                    <h5>Erstellt: <strong>{{this.createdAt}}</strong></h5>
                                    <h5>Status: <strong>{{this.status}}</strong></h5>
                                    </div>
                                    <div class="card-action">
                                    <a onclick="done('{{this._id}}')">Erledigt</a>
                                    <a onclick="deleteItem('{{this._id}}')">Löschen</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script>
    function done(id) {
        socket.emit("todoDone", { todoid: id });
    }

    function deleteItem(id) {
        socket.emit("todoDelete", { todoid: id });
    }
</script>