{{> header}}

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="loginbox {{#if user.dark}} grey darken-4 {{else}} green darken-4 {{/if}} white-text">
            <h3 class="center" style="text-decoration: underline; margin-bottom: 40px;">Changelogs</h3>
            {{#if isEmpty}}
                <center><h2>Hier ist es relativ leer!</h2></center>
            {{/if}}
            {{#if logs}}
                {{#each logs}}
        	        <div class="row center-align">
                        <div class="col s2"></div>
                        <div class="col s8">
                            <div class="card blue-grey darken-1">
                                <div class="card-content white-text">
                                    <p>{{this.content}}</p>
                                </div>
                                <div class="card-action">
                                    <p>{{this.date}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col s2"></div>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>